body {
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.mainbutton {
    background: linear-gradient(to bottom,
        #0d3351 20%,
        transparent 20%, transparent 40%,
        #0d3351 40%, #0d3351 60%,
        transparent 60%, transparent 80%,
        #0d3351 80%);
    border: none;
    height: 30px;
    width: 30px;
}

.hero__mainlist,
.hero__userlist,
.hero__roublelist,
.hero__languagelist,
.content__sortlist {
    display: none;
}

header {
    background: url(../images/sochi.png) no-repeat center top / cover;
    height: 657px;
}

.hero-right__nav-item {
    margin-right: 20px;
}

.nav-logo {
    position: relative;
    top: 4px;
}

.nav-url {
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    color: #0d3351;
}

.contact_url {
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    color: #0d3351;
}

.contact_time {
    width: 141px;
    height: 10px;
    font-family: Raleway;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #0d3351;
    white-space: nowrap;
}

.logo {
    margin-top: 34px;
}

.main__theme {
    font-size: 36px;
}

.choose-cruise {
    width: 202px;
    height: 48px;
    background-color: #33c7fd;
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    color: white;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__right {
    display: flex;
    flex-wrap: nowrap;
}

.hero-right__nav>li {
    display: inline-block;
}

.header__wrapper {
    text-align: center;
}

.blacktriangle {
    position: relative;
    bottom: 2px;
    width: 0px;
    height: 0px;
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
    cursor: pointer;
}

.bluetruangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #33c7fd;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    margin-left: 14px;
}


h1,
h3,
h2 {
    margin: 0;
    font-family: Roboto Slab;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #0d3351;
}
h3{
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    text-align: center;
}

.snake {
    position: relative;
    margin-top: -150px;
}

.content__title {
    margin-top: -80px;
}


li>a {
    color: white;
    width: 237px;
    height: 17px;
    font-family: RobotoSlab;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.9px;
    line-height: 2.67;
}

.content {
    background-color: rgba(236, 236, 236, 0.89);
}

.content__sort {
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.7px;
    color: #0d3351;
}

.content__title__catalog {
    font-family: RobotoSlab;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1.8px;
    color: #0d3351;
}

.content__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog__item {
    width: 555px;
    background: white;
    text-align: left;
}


.item__cruise__pathtime {
    width: 344px;
    height: 39px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    text-align: left;
    line-height: 1.71;
    color: #0d3351;
}

.item__cruise__title {
    font-size: 18px;
    color: #00a2dd;
    line-height: 2.67;
}

.price {
    display: inline-block;
}
.content__sortlist__item{
    color:white;
}
.item__cruise__price__oldprice {
    display: inline-block;
    font-family: RobotoSlab;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: 0.9px;
    color: rgba(13, 51, 81, 0.55);
    text-decoration: line-through;
    margin-left: 20px;
}

.item__cruise__price {
    margin-top: 22px;
    margin-bottom: 39px;
    font-family: RobotoSlab;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: #0d3351;
}

.cruise-more {
    width: 202px;
    height: 48px;
    background-color: #33c7fd;
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    color: white;
}

.footer__wrapper {
    padding-top: 32px;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.footer__info {
    flex-grow: 1;
}

.footer__social {
    flex-grow: 10;
}

.footer__help {
    flex-grow: 1;
}

.help__contact {
    text-align: left;
}

.info__title {
    display: block;
}

.social__wrapper {
    height: 35px;
    width: 35px;
    display: inline-block;
    border-radius: 50%;
    background: #0d3351;
}

.social__img-ref {
    height: 25px;
    width: 25px;
    position: relative;
    top: 6px;
    left: 4px;

}

.info__title {
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.7px;
    color: #0d3351;
}

.help__contact_time {
    font-family: Raleway;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 0.5px;
    color: #0d3351;
}

.help__contact_url {
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    color: #0d3351;
}

address {
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.7px;
    color: #0d3351;
}

.content__catalog > .catalog__item:not(:first-child) {
    margin-top: 20px;
}

@media only screen and (min-width: 1300px) {
    .catalog__item > *:not(:first-child) {
        margin-left: 37px;
    }

    .sidebar__catalog__item {
        height: 315px;
    }

    .content__sort {
        margin-top: 11px;
        margin-bottom: 42px;
    }

    .title {
        height: 89px;
        font-size: 100px;
    }

    .main__theme {
        height: 34px;
    }

    .choose-cruise {
        margin-top: 57px;
    }

    .snake {
        margin-top: -200px;
        height: 400px;
    }

    .cruise-more {
        margin-top: 25px;
        margin-bottom: 62px;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 750px) {
    .container {
        width: 700px;
    }

    header {
        height: 600px;
    }

    .main__theme {
        margin: 0;
        height: 10px;
    }

    .logo {
        margin: 0;
    }

    .content__sort {
        margin-bottom: 30px;
    }

    .snake {
        width: 70px;
        height: 350px;
        margin-top: -220px;
        margin-bottom: 20px;
    }

    .catalog__firstitem {
        height: auto;
    }

    .sidebar__catalog__item {
        height: 200px;
    }

    .sidebar__item__cruise__pathtime {
        font-size: 10px;
    }

    .sidebar__item__mainpict {
        height: 100px;
    }

    .sidebar__item__cruise__title {
        font-size: 13px;
    }

    .sidebar__item__cruise__price {
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
        bottom: 12px;

    }

    .title {
        margin-top: 5px;
        white-space: nowrap;
        font-size: 72px;
    }

    .choose-cruise {
        margin-top: 23px;
    }

    .catalog__item,
    .item__mainpict {
        width: 340px;
    }

    .cruise-more {
        margin-top: 25px;
        margin-bottom: 62px;
    }

    .item__cruise__title {
        line-height: normal;
    }

    .item__cruise__pathtime {
        line-height: normal;
        width: 231px;
    }

    .catalog__item > *:not(:first-child) {
        margin-left: 32px;
    }
}

@media only screen and (max-width: 750px) {

    .title {
        font-size: 50px;
    }

    .hero__right {
        display: none;
    }

    .title {
        white-space: normal;
    }

    .container {
        width: 290px;
    }

    .hero {
        padding-top: 25px;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .cruise-more {
        margin-bottom: 31px;
    }

    .main__theme {
        font-size: 26px;
    }

    .social__img-ref {
        position: relative;
        left: -0px;
    }

    .title {
        font-size: 50px;
        text-align: center;
    }

    .mainbutton {
        height: 20px;
        width: 20px;
    }

    header {
        height: 583px;
    }

    .choose-cruise {
        margin-top: 43px;
    }

    .content__sort {
        margin-bottom: 20px;
    }


    .footer__info {
        display: none;
    }

    header {
        height: 583px;
    }



    .container {
        width: 290px;
    }

    .snake {
        width: 60px;
        height: 239px;
        margin-top: -140px;
    }

    .content__catalog {
        display: unset;
        text-align: center;
    }

    .content__catalog .catalog__item:not(:first-child) {
        margin-top: 0;
    }

    .catalog__item {
        margin-bottom: 20px;
    }

    .catalog__item>*:not(:first-child) {
        margin-left: 22px;
    }

    .item__cruise__pathtime {
        width: 231px;
    }

    .item__mainpict {
        height: 229px;
        width: 290px;
    }

    .content__title {
        padding-top: 30px;
    }

     .catalog__item {
        width: 290px;
        height: 464px;
    }



    .sidebar__item__mainpict {
        height: 200px;
    }

    .item__cruise__title {
        font-size: 18px;
        line-height: normal;
    }

    .item__cruise__pathtime {
        font-size: 14px;
    }

    .item__cruise__price {
        font-size: 30px;
        margin-top: 50px;
    }

    .choose-cruise {
        width: 202px;
        height: 47px;
        margin: 0;
        margin-bottom: 15px;
    }

    .footer__wrapper {
        display: block;
        text-align: center;
    }

    .help__contact {
        text-align: center;
    }

    .footer__wrapper {
        padding-top: 30px;
        height: 130px;
    }

    .info__title {
        margin-top: 9px;
    }

    .footer__social {
        margin-bottom: 15px;
    }

    .help__contact_url {
        font-size: 14px;
    }

    .help__contact_time {
        font-size: 10px;
    }

    .about {
        font-size: 14px;
        margin-bottom: 39px;
    }
    li>a{
        line-height: 1;
        font-size:15px;
    }
}

.zhir {
    display: inline-block;
    font-weight: 600;
    color: black;
}